.TeamMembers{
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    .Member{
        border: dashed 2px dodgerblue;
        background: gainsboro;
        width: 40%;
        margin: 2%;
        padding: 2%;
        text-align: center;

        
        .Portrait{
            width: 40%;
            height: auto;
            border-radius: 1rem;
        }
    }
}