.Droom-Header{

    

    margin-left: 15%;
    padding: 5%;
    background-attachment: fixed;
    text-align: center;
    font-size: 2rem;
    color: white;
    background: rgb(86, 172, 243);
    font-weight: 800;

    button{
        margin:  2% auto;
        display: block;
        border-radius: 5px;
        background-color: rgb(253, 253, 253);
        padding: 1rem;
        font-size: 1.5rem; 
        border: solid black 1px;
    }
}
.header-img{
    margin-left: 15%;
    img{
        opacity: 80%;
        height: 50rem;
        width: 100%;
    }
}

.Marketing{
    margin-top: 2%;
    margin-left: 15%;
    font-size: 2rem;
    width: 40%;

}