.Droom-Header{

   

    margin-left: @margins;
    padding: 2%;
    background-attachment: fixed;
    text-align: center;
    font-size: 2rem;
    color: @Tertiary2;
    background: @Maincolor;
    font-weight: 300;

    button{
        margin:  2% auto;
        .buttonstyle();
    }
}
.header-img{
    margin-left: @margins;
    img{
        opacity: 80%;
        height: 50rem;
        width: 100%;
    }
}

.Marketing{
    margin-top: 2%;
    margin-left: @margins;
    font-size: 2rem;
    width: 40%;

}

.FootHeader{
    margin-left: @margins;
    margin-top: 2%;
    background: @Tertiary1;
}
footer{
    margin-left: @margins;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
    background: @Tertiary1;
    a{
        font-size: 2rem;
        text-decoration: none;
        color: @Maincolor;
        padding: 4%;

    }
}