.Droom-Header{
    margin-left: 25%;
    padding: 10%;
    background: url("https://cdn6.dissolve.com/p/D187_233_060/D187_233_060_1200.jpg") ;
    background-attachment: fixed;
    text-align: center;
    font-size: 2rem;
    color: rgb(28, 138, 241);
    font-weight: 800;
    

    button{
        margin:  2% auto;
        display: block;
        border-radius: 5px;
        background-color: rgb(70, 135, 233);
        padding: 1rem;
        font-size: 1.5rem; 
        border: solid black 1px;
    }
}